/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
music-library/storage/framework/cache/data/c0/71/c071422490d526a8aada046adf3a9c9fa0593468
music-library/storage/framework/cache/data/ec/c4/ecc49f49f4da6b940dcde13f0571e79c299871e6
music-library/storage/logs/laravel.log
